<h1 class="animated fadeIn fast">Sobre mi comic app</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi earum obcaecati similique incidunt eius cum, exercitationem error illo, eaque dicta eos laudantium amet. Nihil, ullam quidem illo distinctio dolorum alias? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Corporis fuga officiis ex temporibus laboriosam modi cum, adipisci aperiam? Deserunt quod fugiat, labore placeat ea mollitia sequi error dolorum eaque quibusdam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste itaque
    exercitationem tenetur est deleniti modi suscipit excepturi neque cumque ea maxime sunt nihil libero, ad reprehenderit, in sint aliquid laboriosam?
</p>