<!-- <div id="messageArea" *ngFor="let p of pref">
    <p id="messageLabel">Consola de entrada OSC: </p>
    <div *ngFor="let n of p.node">
        <div *ngFor="let e of n.videoplayer.instance">
            {{ e.id }}
        </div>
    </div>
</div> -->
<!-- HotKeys  -->
<!-- <div [editProject]="editProject" *ngFor="let editProject of editProject"></div> -->
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help [key]="'f1'" [closeKey]="'escape'" [title]="''"></ng-keyboard-shortcuts-help>
<!-- si cangando es false - no nos ha respondido el servidor -->
<mat-progress-bar mode="indeterminate" *ngIf="cargado === false"></mat-progress-bar>
<div *ngIf="cargado == false; else page"></div>
<!-- si cargando es true y el tenemos los datos cargamos el formulario -->
<ng-template #page>
    <!-- menu top proyectos -->
    <!-- <div class="card fadeIn slow"> -->
    <!-- <div class="card-body"> -->

    <!-- <span class="text-info"></span> Editando el proyecto <strong>{{cueMs.name}}</strong> creado el <strong>{{ cueMs.created }}</strong>&nbsp; -->

    <mat-tab-group mat-align-tabs="start" id="main-tab-group">
        <mat-tab label="Secuencia">

            <div class="container h-100 main-container animated fadeIn fast" (clickOutside)="unselectCue()">
                <!-- Menú -->
                <div class="row justify-content-around">
                    <!-- col-12 maximo de grande m-1 margen 1 y p-2 paddind 2 -->
                    <div class="col-12 m-1 p-2 border bg-light text-center">

                        <button mat-button matTooltip="Create a new audio cue" [disabled]="edit.mode" (click)="addCue('AudioCue')"><mat-icon>volume_up</mat-icon></button>
                        <button mat-button matTooltip="Create a new video cue" [disabled]="edit.mode" (click)="addCue('VideoCue')"><mat-icon>tv</mat-icon></button>
                        <button mat-flat-button matTooltip="Busqueda de nodos" (click)="hw_discovery()">Hw Discovery</button>
                        <button mat-flat-button matTooltip="Despligue de media" (click)="despliegue()" [color]="color_despligue">Despliegue de media</button>
                        <button mat-button matTooltip="" (click)="stop()">Stop</button>
                        <button mat-button matTooltip="" (click)="resetAll()">ResetAll</button>

                    </div>
                </div>
                <!-- Submenú cues / reproducción -->
                <!-- <app-navbar></app-navbar> -->
                <div class="row" style="height: 75px;">
                    <!-- Con xl defines como se verá en la versión grande con sm en la smart pnone -->
                    <div class="col-2 p-0 border bg-light text-center">
                        <button matTooltip="Siwtch edit/show mode" class="btn h-100 btn-outline-primary btn-block" [class.btn-primary]="edit.mode" [class.text-white]="edit.mode" type="button" title="Crear nueva cue" (click)=" Mode()">Show/Edit</button>
                    </div>
                    <!-- el mx margin del eje x left & right -->
                    <div class="col p-4 mx-1 border bg-light text-center">

                    </div>
                    <div class="col-2 p-0 border bg-light text-center">
                        <button matTooltip="Go from selected Cue" (click)="go()" [class]="claseGo" title="Go...!!" [disabled]="!readyGo">Go</button>
                    </div>
                </div>
                <!-- CueList/TimeLine -->
                <!-- cuando cliqueamos fuera de las cuesList -->

                <div class="row justify-content-around h-50">

                    <div class="col-12 m-1 p-2 border bg-light">
                        <!-- <mat-progress-bar mode="determinate" [value]="timecode"></mat-progress-bar> -->

                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="CueList">
                                <!-- template listado de cues -->
                                <div cdkDropList class="valign-center" (cdkDropListDropped)="drop($event)">
                                    <button type="button" class="list-group-item list-group-item-action p-0" *ngFor="let cue of contents;let i = index;" cdkDrag [cdkDragDisabled]="edit.mode" [class.active]="i === idCueSelected" (click)="selectCue(i)">
                                        <span class="with-icon float-left p-2">
                                            <mat-icon [hidden]="edit.mode">drag_indicator</mat-icon>
                                            <mat-icon [hidden]="cue[tipoCue[i]].UI_properties.warning === 0" class="warning-icon">report_problem</mat-icon>
                                            <mat-icon [hidden]="!cue.AudioCue">volume_up</mat-icon>
                                            <mat-icon [hidden]="!cue.VideoCue">tv</mat-icon>
                                            <mat-icon [hidden]="!cue.DmxCue">highlight</mat-icon>
                                            <mat-icon [hidden]="!cue.Action">radio_button_checked</mat-icon>
                                            <mat-icon [hidden]="!cue.CueList">folder_open</mat-icon>
                                            &nbsp;
                                                <!-- {{ cue[this.tipoCue].common_properties.name}} -->
                                                {{ cue[tipoCue[i]].name }}
                                        </span>
                                        <span  class="float-right">
                                            <!-- {{ cue[tipoCue[i]].prewait.CTimecode }} | {{ duration(i) }} | {{ cue[tipoCue[i]].postwait.CTimecode }} -->
                                            
                                            <button mat-icon-button matTooltip="Cue opcions" [matMenuTriggerFor]="contMenu" aria-label="Example icon-button with a menu">
                                                <mat-icon *ngIf="cue[tipoCue[i]].post_go == 'pause'">keyboard_arrow_down</mat-icon>
                                                <mat-icon *ngIf="cue[tipoCue[i]].post_go == 'go'">play_for_work</mat-icon>
                                                <mat-icon *ngIf="cue[tipoCue[i]].post_go == 'go_at_end'">arrow_drop_down_circle</mat-icon>
                                            </button>
                                    <mat-menu #contMenu="matMenu">
                                        <button mat-menu-item matTooltip="No continue" (click)="pause(i)" [disabled]="edit.mode">
                                            <mat-icon>keyboard_arrow_down</mat-icon>
                                                <span>No continue</span>
                                        </button>
                                        <button mat-menu-item matTooltip="Auto continue" (click)="auto_go(i)" [disabled]="edit.mode">
                                            <mat-icon>play_for_work</mat-icon>
                                                <span>Auto continue</span>
                                        </button>
                                        <button mat-menu-item matTooltip="Auto follow" (click)="post_go(i)" [disabled]="edit.mode">
                                            <mat-icon>play_for_work</mat-icon>
                                                <span>Auto follow</span>
                                        </button>
                                    </mat-menu>

                                    <button mat-icon-button matTooltip="Cue opcions" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item matTooltip="Delete Cue" (click)="confirmDialog(i)" [disabled]="edit.mode">
                                    <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                </button>
                                        <button mat-menu-item matTooltip="Edit Cue" (click)="editCueDialog()" [disabled]="edit.mode">
                                    <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                </button>
                                    </mat-menu>

                                    </span>

                                    </button>
                                </div>
                            </mat-tab>

                        </mat-tab-group>

                        <!-- reset go deja el go en modo no cargado -->
                        <!-- <app-cue [cue]="Cue" [idx]="i" *ngFor="let Cue of cues; let i = index"></app-cue> -->
                        <!-- <div class="list-group" *ngFor="let cue of cues;let i = index; trackBy: order"> -->


                        <!-- <app-drop></app-drop> -->


                    </div>
                </div>
            </div>

        </mat-tab>
    </mat-tab-group>

    <!-- </div> -->
    <!-- </div> -->

</ng-template>
<hr>

<!-- <div id="messageArea " *ngFor="let p of pref ">
    <p id="messageLabel ">Consola de entrada OSC:</p>
    <pre *ngFor="let n of p.node ">{{n.osc_dest_host}}</pre>
</div> -->