<!-- <mat-tab-group mat-align-tabs="start">
    <mat-tab label="First">
        <app-proyectos></app-proyectos>
    </mat-tab>
    <mat-tab label="Second">
        <app-media></app-media>
    </mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group> -->

<header>
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-4">
      <a href="/" class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img src="assets/img/header_logo.svg">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/proyectos']">{{ 'projects' | translate }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/media']">{{ 'my.library' | translate }}</a>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="langmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'language' | translate }}</a>

                <ul class="dropdown-menu text-small mt-2" aria-labelledby="langmenu">
                  <li><a class="dropdown-item" (click)="cambiarLenguaje('en')">{{ 'english' | translate }}</a></li>
                  <li><a class="dropdown-item" (click)="cambiarLenguaje('es')">{{ 'spanish' | translate }}</a></li>
                  <li><a class="dropdown-item" (click)="cambiarLenguaje('ca')">{{ 'catalan' | translate }}</a></li>
                </ul>

              </li>

          </ul>
          <!-- <button mat-button matTooltip="Acces to opened project" [hidden]="!edit.editing" (click)="routeEditing()">{{name}}</button>
          <button mat-button matTooltip="Save project" [hidden]="!edit.editing" [color]="edit.estiloGuardar" (click)=" saveProject()">{{ 'save' | translate }}</button>
          <button mat-button matTooltip="Project preferences" [hidden]="!edit.editing" (click)="preferences()">{{ 'settings' | translate }}</button> -->
          <form class="form-inline my-2 my-lg-0 header-search mr-4">
            <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
            <input class="form-control mr-sm-2" type="search" placeholder="{{ 'search' | translate }}..." aria-label="Search">
          </form>


      </div>



      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-toggle="dropdown" aria-expanded="false">
          <img src="assets/img/user-avatar.jpg" alt="mdo" class="rounded-circle" width="32" height="32">
        </a>
        <ul class="dropdown-menu text-small dropdown-menu-right mt-3" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" >{{ 'new.project' | translate }}</a></li>
          <li><a class="dropdown-item" >{{ 'settings' | translate }}</a></li>
          <li><a class="dropdown-item" >{{ 'profile' | translate }}</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" >{{ 'sign.out' | translate }}</a></li>
        </ul>
      </div>
    </nav>

</header>
