<!-- <mat-tab-group mat-align-tabs="start">
    <mat-tab label="First">
        <app-proyectos></app-proyectos>
    </mat-tab>
    <mat-tab label="Second">
        <app-media></app-media>
    </mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group> -->

<nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="#">CueMs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/proyectos']">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/media']">Multimedia</a>
            </li>
        </ul>
        <button mat-button matTooltip="Acces to opened project" [hidden]="!edit.editing" (click)="routeEditing()">{{name}}</button>
        <button mat-button matTooltip="Save project" [hidden]="!edit.editing" [color]="edit.estiloGuardar" (click)=" saveProject()">Guardar</button>
        <button mat-button matTooltip="Project preferences" [hidden]="!edit.editing" (click)="preferences()">Preferencias</button>

        <button mat-button [matMenuTriggerFor]="menu">{{ 'language' | translate }}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="cambiarLenguaje('en')">{{ 'english' | translate }}</button>
            <button mat-menu-item (click)="cambiarLenguaje('es')">{{ 'spanish' | translate }}</button>
            <button mat-menu-item (click)="cambiarLenguaje('ca')">{{ 'catalan' | translate }}</button>
        </mat-menu>

    </div>

</nav>
