<div class="card fadeIn slow">
    <div class="card-body">
        <span class="text-info">Proyectos:</span> Página de gestion de proyectos.
    </div>
</div>


<div class="container h-100 main-container animated fadeIn fast">
    <!-- Menú -->
    <div class="row justify-content-around">
        <!-- col-12 maximo de grande m-1 margen 1 y p-2 paddind 2 -->
        <div class="col-12 m-1 p-2 border bg-light text-center">
            Menú de funcións: Artxiu, Editar, Cues, Eines, Vista, Finestra, Ajuda
        </div>
    </div>
    <!-- CueList/TimeLine -->
    <div class="row justify-content-around" style="height: 300px;">
        <div class="col-12 m-1 p-2 border bg-light">
            <div class="text-center">
                Vista CueList/CueTimeline (conmutable)
            </div>
            <ul class="list-group">
                <app-cue></app-cue>
            </ul>
        </div>
    </div>
    <!-- Edit Cue -->
    <div class="row justify-content-around">
        <div class="col-12  p-4 border bg-light text-center" style="height: 100px;">Pestanyes d'edició de la cue seleccionada</div>
    </div>

    <!-- <app-consola-osc></app-consola-osc> -->
    <div class="footer-copyright text-center py-3">Página Edición reproducción proyecto: CueMs V0.0.1 by
        <a href="https://github.com/stagesoft">StageSoft</a>
    </div>
</div>
<hr>
