<!-- 
container
row
col
col col-6 primero col y luego col + el tamaño 
xs ancho de pantalla de más de 576px
sm ancho de pantalla de más de 768px
md ancho de pantalla de más de 992px
lg ancho de pantalla de más de 1200px 
col col-md-2 col-sm-3 col-xs-12 

rounded esquinas redondeadas
<img src="..." alt="..." class="rounded">
<img src="..." alt="..." class="rounded-top">
<img src="..." alt="..." class="rounded-right">
<img src="..." alt="..." class="rounded-bottom">
<img src="..." alt="..." class="rounded-left">
<img src="..." alt="..." class="rounded-circle">
<img src="..." alt="..." class="rounded-0">
-->

<div class="container">
    <div class="row my-3 pl-0 border">
        <div class="col">
            <img src="assets/img/ico_dashboard.png" class="p-1" style="padding-left: 0;" alt=""> Dashboard
        </div>
    </div>
    <div class="row my-1 py-5 border rounded bg-light">
        <div class="col col-6 text-center">
            <img src="assets/img/il_lustracio_banner.png" alt="">
        </div>
        <div class="col text-center">
            <h5>Something new is coming in Stagesoft</h5>
            <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis porttitor elit. Maecenas quis suscipit dolor.
            <button type="button" class="btn mt-5 btn-primary">See more</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-6 mr-1 my-1 border text-center rounded">create project</div>
        <div class="col ml-1 my-1 border text-center rounded">lastest projects</div>
    </div>
    <div class="row">
        <div class="col col-12 border">upload</div>
    </div>
</div>