<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Proyectos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['cues']">Proyecto Actual</a>
            </li>
        </ul>

    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-silver">
    <button (click)="this._oscService.envioGo()" class="btn btn-outline-primary my-2 my-sm-0" type="button" alt="Go">Go</button> &nbsp; Con este botón iniciamos la reproducción.
</nav>