<!-- Enviamos el go/play por websockets con el click del botón.-->
<div class="row" style="height: 75px;">
    <!-- Con xl defines como se verá en la versión grande con sm en la smart pnone -->
    <div class="col-2 p-xl-4 p-sm-2 border bg-light text-center">
        Edició/ Show
    </div>
    <!-- el mx margin del eje x left & right -->
    <div class="col p-4 mx-1 border bg-light text-center">Eines</div>
    <div class="col-2 p-0 border bg-light text-center">
        <button (click)="Go()" class="btn h-100 btn-outline-primary btn-block" type="button" title="Go...!!">Go</button>
    </div>
</div>