// Color system
$white:    #fff;

$bgmain: #1D2329;
$bgsecondary: #181D22;
$bgactive: #3B4349;

$modalbg: #f1f1f1;
$modaltext: #717b89;

$textactive: #CFD4DB;
$textcontent: #ADB1B7;

$primary:       #7D63FB;
$secondary:     #E74D88;
$success:       #48C589;
$dark:          #3B4349;

$successdisabledbg: #000000;
$successdisabledcolor: #283037;

$btn-hover-color: #FFF!important;

$errorclr:#a52a2a;

$dialog-actions: #e1e1e0;
